.download{
  height: 300px;
  display: flex;
  flex-flow: column;
}

.title{
  border-bottom: 3px solid #ED4630;
  width: 400px;
  padding-bottom: 10px
}
@media screen and (min-width: 1200px){
  .title:after{
    content:'a';
    position: absolute;
    top:800px;
    left: 41.5%;
    display: inline-block;
    width: 250px;
    height: 3px;
    background: #ED4630;
    color:rgba(0,0,0,0);
  } 
}