.download{
  display: flex;
  flex-flow: column;
  background:#F2F2F2;
}
.slider{
  width: 100%;
  display:  flex;
  flex-direction: row;
}
.title{
  border-bottom: 3px solid #ED4630;
  width: 30%;
  padding-bottom: 10px;
  position: relative;
}
.slick-track{
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px){
  .title:after{
    content:'a';
    position: absolute;
    top: 130%;
    left: 19%;
    display: inline-block;
    width: 250px;
    height: 3px;
    background: #ED4630;
    color:rgba(0,0,0,0);
  } 
}
@media screen and (max-width: 1005px) {
  .title{
    width: 60%;
  }
}
@media screen and (max-width: 668px) {
  .title{
    width: 80%;
  }
}

@keyframes rotateUp{
  from{
    transform: rotate(0deg);
    bottom:25px;
  }
  to{
    transform: rotate(180deg);
    bottom:42px;
  }
}

@keyframes rotateDown{
  from{
    transform: rotate(180deg);
    bottom:42px;
  }
  to{
    transform: rotate(0deg);
    bottom:25px;

  }
}

.rotateUp{
  animation-name: rotateUp;
  animation-duration: 1s;
  transform: rotate(180deg);
  bottom:42px !important;
}

.rotateDown{
  animation-name: rotateDown;
  animation-duration: 1s;
  transform: rotate(0deg);
  bottom:25px !important;
}

.icon{
  position: relative;
  bottom: 25px;
  cursor: pointer;
  color:#ED4630;
}

.slick-active{
  display: flex !important;
}

.aviso{
  font-weight: bold;
  font-size: 1.2em;
}
.tHead{
  background-color: #750310;
}
.thHead{
  border-right: 3px solid #FFF;
  padding: 15px;
  color: #FFF;
}
.trWhite{
  padding: 15px;
  text-align: center;
}
.trGrey{
  padding: 15px;
  text-align: center;
  background-color: #EBEBEB; 
}

.width{
  max-width: 100px;
}